@import '../../../styles/general.scss';


.TopBar {
    --primaryColor: #000;
    --primaryText: #fff;
    --secondaryColor: #444;
    
    width: 100%;
    color: var(--primaryText);
    background: linear-gradient(var(--secondaryColor), var(--primaryColor));

    .bar {
        position: relative;
        height: 80px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 1000;
    }

    .logo {
        display: flex;
        align-items: flex-end;
        height: 80%;
        z-index: 100;
        max-width: 77%;
        margin-bottom: 1em;

        img {
            height: 40px;
            width: 40px;
            filter: brightness(.8);
            mix-blend-mode: screen;
            margin: 0 1em 0 0;
        }
        

        a {
            max-width: 100%;

            .title {
                color: white;
                font-size: 1.5em;
                margin: 0 1em -3px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }
        }
    }

    .hamburger {
        display: none;
        color: white;
        font-size: 2em;
    }

    .expandMenu {
        position: absolute;
        top: 80px;
        right: 0;
        padding-right: 1em;
        background: var(--secondaryColor);
        flex-direction: column;
        z-index: 10;

        .menu-link {
  
        }

        .sub-menu {
            background: var(--secondaryColor);
            width: 110%;
            top: 0;
            left: -150px;
            border-radius: 3px;
            padding-right: 10px;

            .sub-menu-item {
                
            }
        }
    }

    @media(max-width: 1000px) {
        .menu {
            display: none;
        }

        .hamburger {
            display: block;
            margin-bottom: 16px;
            cursor: pointer;
        }
    }

    @media(max-width: 900px) {
        .bar {
            margin-left: 4em;
            margin-right: 4em;
        }
    }

    @media(max-width: 550px) {
        .logo {
            a {
                .title {
                    font-size: 6vw;
                }
            }
        }
    }

    @media(max-width: 360px) {
        .logo {
            max-width: 68%;
        }
    }


    @media(max-width: 300px) {
        .logo {
            a {
                .title {
                    display: none;
                }
            }
        }
    }
}
