@import '../../../styles/general.scss';

.EmailSettings {

    padding: 2em;

    h2 {
        margin-bottom: 2em;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: .5em;
        }

        input, textarea {
            margin-bottom: 2em;
            width: 600px;
            max-width: 100%;
        }
    }
}